<div class="container">
  <h1><%= @topic.name %></h1>
  <ul>
    <% @topic.questions.each do |question|  %>
      <li><%= question.title %></li>
      <li><%= question.mcq %></li>
      <li><%= question.answer %></li>
      <li><%= question.explanation %></li>
    <% end  %>
  </ul>
  <%= link_to "Create your question", new_topic_question_path(@topic) %>
</div>
